version: "3.9"

services:
  backend:
    build: .
    restart: always
    ports:
      - "8080:8080"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8080
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES}
      ALGORITHM: ${ALGORITHM}
      HF_API_TOKEN: ${HF_API_TOKEN}
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
